langchain
langchain-openai
langchain-mistralai
mistralai
langchain-community
langchain-chroma
chromadb
sentence-transformers
pypdf
unstructured
beautifulsoup4
tiktoken
python-dotenv

fastapi
uvicorn

streamlit
tqdm
requests
